<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="static/styles/about.css" rel="stylesheet" type="text/css" ><link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="heart.html"> Heart Disease</a></li>
            <li><a href="bmi.html">BMI Calculator</a></li>
            <li><span><h2>HEALTH</h2><h2><i class="fas fa-heartbeat"></i></h2><h2>TRACKER</h2></span></li>
            <li><a>Get Diet</a>
                <ul>
                    <li>
                        <div class="sub">
                            <ul>
                                <li><a href="">Underweight</a></li>
                                <li><a href="">Ovrweight</a></li>
                                <li><a href="">Obese</a></li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
    <div class="box">
        <div>
            <h1>About</h1>
            <p>This web-based application is built as a project for Bachelor Degree by Paria Sarzaeim, a computer science student at Alzahra University, supervised by Dr. N. Kia. </p>
            <p>Nowadays, artificial intelligence and machine learning techniques play important roles in our daily life as well as in the world of the computer science. Bearing this point in mind, the goal of this project was to compare different machine learning algorithms and investigate the most suitable one in order to heart disease diagnosis. </p>
            <p>Due to our research, random forest algorithm shows a better performance in compare to other machine learning algorithms including Naïve Bayes, K-nearest Neighbors, Artificial Neural Networks, Support Vector Machine, and Decision Tree. Therefore, we used random forests on this website. </p>
            <p>Random forests or random decision forests are an ensemble learning method or classification, regression and other tasks that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes (classification) or mean/average prediction (regression) of the individual trees. Random decision forests correct for decision trees habit of overfitting to their training set.</p>
            <P>Forests are like the pulling together of decision tree algorithm efforts. Taking the teamwork of many trees thus improving the performance of a single random tree.</P>
        </div>

</body>
</html>