<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{{ url_for('static', filename='styles/master.css') }}" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="heart.html">Heart Disease</a></li>
            <li><a href="bmi.html">BMI Calculator</a></li>
            <li><span><h2>HEALTH</h2><h2><i class="fas fa-heartbeat"></i></h2><h2>TRACKER</h2></span></li>
            <li><a>Get Diet</a>
                <ul>
                    <li>
                        <div class="sub">
                            <ul>
                                <li><a href="">Underweight</a></li>
                                <li><a href="">Ovrweight</a></li>
                                <li><a href="">Obese</a></li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </li>
            <li><a>Help</a></li>
        </ul>
    </div>
    <div class="box" method="POST", action="/">
        <div>
            <h1>Heart Disease Diagnosis</h1>
            <p>Heart disease refers to any condition affecting the heart. There are many types, some of which are preventable.Unlike cardiovascular disease, which includes problems with the entire circulatory system, heart disease affects only the heart.
            According to the Centers for Disease Control and Prevention (CDC), heart disease is the leading cause of death in the United States. Around 1 in 4 deaths in the U.S. occur due to heart disease, and it affects all genders as well as all racial and ethnic groups. 
            In this form you should enter your medical records and some other information and we will tell you if you are candidate for a heart disease, and maybe you should visit a doctor.  <span>More>></span></p>
        </div>
        <div id="form">
            <input id="w" type="text" placeholder="Your Weight in Kilograms">
            <input type="text" id="h" placeholder="Your Height in metres">
            <input type="text" id="ap_h" placeholder="Systolic Blood Pressure Starting from 80 (mmHg)">
            <input type="text" id="ap_l" placeholder="Diastolic Blood Pressure Starting from 50 (mmHg)">
            <input type="number" id="a" min="13" max="99" placeholder="Age">
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="" disabled selected>...</option>
                <option value="1">Female</option>
                <option value="2">Male</option>
            </select>
            <label for="cholestrol">Cholestrol Level:</label>
            <select name="cholestrol" id="cholestrol">
                <option value="" disabled selected>...</option>
                <option value="1">Normal</option>
                <option value="2">Abnormal</option>
                <option value="3">High</option>
            </select>
            <select name="glucose" id="glucose">
                <option value="" disabled selected>...</option>
                <option value="1">Normal</option>
                <option value="2">Abnormal</option>
                <option value="3">High</option>
            </select>   
            <label for="smoke">Do you smoke?</label>
            <select name="smoke" id="smoke">
                <option value="" disabled selected>...</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <label for="alcohol">Do you drink alcohol?</label>
            <select name="alcohol" id="alcohol">
                <option value="" disabled selected>...</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            <label for="excercise">Do you have regular excercise?</label>
            <select name="excercise" id="excercise">
                <option value="" disabled selected>...</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>

            <input type="submit", value="Submit" id="submit_form">
        </div>
    </div>
    
    <script>
        $.post( "/", {
            javascript_data: data
        });
        
    </script>
</body>
</html>
